#canvas1, #canvas2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.content-section {
  padding: 50px 0;
}

@media only screen and (min-width: 1024px) {
  .content-section {
    height: 100vh;
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    margin: auto;
  }
}

#about .my-5 {
  margin: 0 !important;
}

.icon-img {
  width: 50%;
  height: 50%;
}

#skills ul {
  padding: 0;
}

#skills ul li {
  width: calc(100% / 6);
}

.graphs {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
}

.graphs.effect-scroll {
  opacity: 1;
  transition: opacity, 1s;
}

.graphs.effect-scroll li .graph.html .graph_inner {
  margin-top: 60px;
}

.graphs.effect-scroll li .graph.css .graph_inner {
  margin-top: 45px;
}

.graphs.effect-scroll li .graph.js .graph_inner {
  margin-top: 60px;
}

.graphs.effect-scroll li .graph.php .graph_inner {
  margin-top: 120px;
}

.graphs.effect-scroll li .graph.wp .graph_inner {
  margin-top: 60px;
}

.graphs.effect-scroll li .graph.ruby .graph_inner {
  margin-top: 250px;
}

.graphs.effect-scroll li .graph .graph_inner {
  transition: all, 3s;
}

.graphs li .graph {
  width: 16%;
  height: 300px;
  border: 1px #313437 solid;
  margin: 60px auto 20px;
  overflow: hidden;
}

.graphs li .graph .graph_inner {
  background-color: #313437;
  width: 100%;
  height: 100%;
  margin-top: 400px;
}

.graphs li .title {
  height: 1.8em;
}

.graphs li .image img {
  width: 35%;
}

#portfolio {
  padding-bottom: 100px;
}

#portfolio .container {
  position: relative;
}

#portfolio .skitter-large {
  max-width: 965px !important;
  width: 965px;
  margin: 0 auto;
}

#portfolio .slideshow img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

#portfolio .label_skitter {
  background-color: #000;
  opacity: 0.8;
  color: #fff;
}

#portfolio .label_skitter td:first-child {
  width: 100px;
}

#portfolio .progressbar {
  background-color: #000;
  height: 5px;
}

section #footer {
  z-index: 101;
}

.canvas-noview {
  z-index: -2 !important;
}

@media only screen and (max-width: 480px) {
  body > div.area > table.table.table-hover.show > thead > tr:nth-child(2) {
    display: none;
  }
  div.area th {
    background-color: #c0c0c0;
  }
  div.area td,
  div.area th {
    width: 100%;
    display: block;
  }
}
