@charset "UTF-8";
.skill-title {
  background-color: #3f51b5;
  color: #fff;
  text-align: center;
}

.acframe {
  margin: 2em 0;
}

.acframe table tbody th {
  background-color: #83cef0;
}

.acframe table tbody td {
  color: #434343;
}

.acframe table tbody td,
.acframe table tbody th {
  width: 100%;
  display: block;
}

/*中身表示*/
.cssacc:checked + label + .accshow {
  height: auto;
  padding: 5px;
  background: #eaf6ff;
  color: #fff;
  opacity: 1;
}

.cssacc:checked + label:before {
  content: '▼';
}

.tab {
  border-bottom: 3px solid #fb4343;
}

.tab li {
  color: #333;
  float: left;
  margin: 0 10px -1px 0;
  padding: 10px 20px;
  border: 1px solid #fb4343;
  cursor: pointer;
  list-style: none;
  transition: 0.3s;
}

.tab li.active {
  color: #fff;
  background: #fb4343;
  cursor: auto;
}

.tab .area table {
  display: none;
}

.tab .area table.show {
  display: block;
}

.graphs {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
}

.graphs.effect-scroll {
  opacity: 1;
  transition: opacity, 1s;
}

.graphs.effect-scroll li .graph.html .graph_inner {
  margin-top: 60px;
}

.graphs.effect-scroll li .graph.css .graph_inner {
  margin-top: 45px;
}

.graphs.effect-scroll li .graph.js .graph_inner {
  margin-top: 60px;
}

.graphs.effect-scroll li .graph.php .graph_inner {
  margin-top: 120px;
}

.graphs.effect-scroll li .graph.wp .graph_inner {
  margin-top: 60px;
}

.graphs.effect-scroll li .graph.ruby .graph_inner {
  margin-top: 250px;
}

.graphs.effect-scroll li .graph .graph_inner {
  transition: all, 3s;
}

.graphs li .graph {
  width: 16%;
  height: 300px;
  border: 1px #313437 solid;
  margin: 60px auto 20px;
  overflow: hidden;
}

.graphs li .graph .graph_inner {
  background-color: #313437;
  width: 100%;
  height: 100%;
  margin-top: 400px;
}

.graphs li .title {
  height: 1.8em;
}

.graphs li .image img {
  width: 35%;
}

/*
#portfolio ul {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style: none;
  padding: 0;

    img {
      width: 100%;
      height: 50vw;
      object-fit: contain;
    }
  .slick-dots {

  }
}
*/
section {
  height: 100vh;
}

#portfolio .container {
  position: relative;
}

#portfolio .skitter-large {
  max-width: 965px !important;
  width: 965px;
  margin: 0 auto;
}

#portfolio .slideshow img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

#portfolio .label_skitter {
  background-color: #000;
  opacity: 0.8;
  color: #fff;
}

#portfolio .progressbar {
  background-color: #000;
  height: 5px;
}

section #footer {
  z-index: 101;
}

.canvas-view {
  z-index: -2 !important;
}

/*
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 99;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgba(255,255,255,.75);
  box-shadow: 0 1em 2em -1em rgba(0,0,0,.5);
  padding: 1em 2em;
  line-height: 1.5;

  small {
    display: block;
    text-transform: lowercase;
    font-size: .7em;

    &:first-child {
      border-bottom: 1px solid rgba(0,0,0,.25);
      padding-bottom: .5em;
    }

    &:last-child {
      border-top: 1px solid rgba(0,0,0,.25);
      padding-top: .5em;
    }
  }
}
*/
@media only screen and (max-width: 480px) {
  body > div.area > table.table.table-hover.show > thead > tr:nth-child(2) {
    display: none;
  }
  div.area th {
    background-color: #c0c0c0;
  }
  div.area td,
  div.area th {
    width: 100%;
    display: block;
  }
}
